.calculatorDisplay {
    background-color: #222222;
    width:164px;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: left;
};

.buttonAndDisplay {
    display: flex;
  justify-content: center;
};

button {
    width: 4em;
    margin-top: .1em;
    margin-bottom: .1em;
};